USE [ADRYAN_MISKIMAYO_20230426]
GO
/****** Object:  StoredProcedure [dbo].[ADRWP_ACTUALIZA_MARCACIONES]    Script Date: 15/05/2023 19:37:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[ADRWP_ACTUALIZA_MARCACIONES]
(
	@K_CODIGO_CIA CHAR(2)      
)
AS    
    
	/* DECLARO VARIABLES */    
	DECLARE @V_FECHA_INI		DATETIME    
	DECLARE @V_FECHA_FIN		DATETIME    
	DECLARE @V_CODIGOUNICO		CHAR(9)    
	DECLARE @V_FECHAMARCA		DATETIME    
	DECLARE @V_HORA_INI			CHAR(4)    
	DECLARE @V_HORA_FIN			CHAR(4)    
	DECLARE @V_ID				INT    
	DECLARE @V_COD_PERIODO		CHAR(2)    
	DECLARE @V_ANNO_PERIODO		CHAR(4)    
	DECLARE @V_ID_TURNO			INT    
	DECLARE @V_FECHA_MARCA		INT  
	DECLARE @V_FECHA_MARCA_FIN	INT  
	DECLARE @V_C				INT    
	DECLARE @V_C2				INT     
    
	/* SETEO CONTADORES */    
	SET @V_C = 0    
	SET @V_C2 = 0    
    
BEGIN    
    
	/*OBTENGO LOS PERIODOS*/    
	SELECT 
		@V_FECHA_INI =  INI_PERIODO,-- dbo.FN_TRUNCDATE('01/06/2012'),    
		@V_FECHA_FIN = FIN_PERIODO    
	FROM 
		dbo.ADRWFN_OBT_FECHA_INI_FIN(@K_CODIGO_CIA)     
  
	--PARA RAIZ SE TOMA SOLO EL DIA ANTERIOR  
	--SET @V_FECHA_INI = GETDATE()-1  
  
    
	/* OBTENGO LA LISTA DE LAS MARCACIONES QUE TIENEN DUPLICADO*/    
	PRINT 'REALIZA EL IF'  
	PRINT CONVERT(VARCHAR(10), @V_FECHA_INI, 103) 
		  
	IF EXISTS 
	(
		SELECT 
			CODIGO_UNICO, dbo.FN_TRUNCDATE(FECHA_MARCACION)    
		FROM 
			ADRWT_MARCA_INCONSISTENCIAS    
		WHERE 
			dbo.fn_truncdate(FECHA_MARCACION) >= dbo.fn_truncdate(@V_FECHA_INI)  
			AND FECHA_MARCACION <= GETDATE()    
			--AND ESTADO_REG = '01'  
		GROUP BY 
			CODIGO_UNICO, dbo.FN_TRUNCDATE(FECHA_MARCACION	)    
		HAVING COUNT(*) > 1
	)    
	BEGIN    

		PRINT 'ENTRO AL IF'  

		/*DECLARO UN CURSOR CON EL CODIGO UNICO Y FECHA DE LA MARCACION*/    
		DECLARE CUR_MARCA_DUPLI CURSOR FOR    
		SELECT 
			MI.CODIGO_UNICO, dbo.FN_TRUNCDATE(MI.FECHA_MARCACION)    
		FROM 
			ADRWT_MARCA_INCONSISTENCIAS MI
		WHERE 
			MI.FECHA_MARCACION >= @V_FECHA_INI    
			AND MI.FECHA_MARCACION <= GETDATE()    
			-- CSJ-2015.03.19: Que no exista doble turno, es otro sp que valida
			AND NOT EXISTS
				(
					Select
						TM.Codigo_Unico
					From
						Adrwt_Turno_Masivo TM
					Where
						Codigo_Unico = MI.Codigo_Unico
						And Fecha_Turno = dbo.FN_TRUNCDATE(MI.FECHA_MARCACION)    
					Group By
						TM.Codigo_Unico, TM.Fecha_Turno
					Having
						Count(TM.Id_Turno) > 1
					-- Order By TM.Fecha_Turno 
				)
		GROUP BY MI.CODIGO_UNICO, dbo.FN_TRUNCDATE(MI.FECHA_MARCACION)    
		HAVING COUNT(*) > 1    
       
		OPEN CUR_MARCA_DUPLI     
		FETCH CUR_MARCA_DUPLI    
		INTO @V_CODIGOUNICO, @V_FECHAMARCA    
    
		WHILE @@FETCH_STATUS = 0     
		BEGIN    
     
			SET @V_C = @V_C +1    
         
			/* VALIDO SI LA MARCACION DUPLICADA TIENE COMO REGISTRO = 1 MAS DE UNO QUE ES ACTIVO*/    
			IF EXISTS 
			(
				SELECT 
					COUNT(ESTADO_REG)    
				FROM 
					ADRWT_MARCA_INCONSISTENCIAS    
				WHERE 
					CODIGO_UNICO = @V_CODIGOUNICO    
					AND dbo.FN_TRUNCDATE(FECHA_MARCACION) = dbo.FN_TRUNCDATE(@V_FECHAMARCA)   
					AND ESTADO_REG = 1    
				HAVING COUNT(ESTADO_REG) > 1    
			)    
			BEGIN    
			
				SELECT    
					@V_COD_PERIODO   = MAX(COD_PERIODO)    
					,@V_ANNO_PERIODO = MAX(ANNO_PERIODO)    
					,@V_ID_TURNO     = MAX(ID_TURNO)    
				FROM 
					ADRWT_MARCA_INCONSISTENCIAS    
				WHERE 
					CODIGO_UNICO = @V_CODIGOUNICO    
					AND dbo.FN_TRUNCDATE(FECHA_MARCACION) = dbo.FN_TRUNCDATE(@V_FECHAMARCA)  
    
				SET @V_C2 = @V_C2 + 1    

				--BEGIN  
				/* OBTENGO LA HORA DE INICIO Y HORA FIN DE LOS TRABAJADORES QUE TIENEN MARCACIONES DUPLICADAS*/    
				SELECT     
					@V_HORA_INI = MIN(HORA_INI), --Se cambio para Raiz para la entrada tomar la mayor  
					@V_HORA_FIN = MAX(HORA_FIN)  --Se cambio para Raiz para la salida tomar el menor  
				FROM 
					ADRWT_MARCA_INCONSISTENCIAS    
				WHERE 
					CODIGO_UNICO = @V_CODIGOUNICO    
					AND dbo.FN_TRUNCDATE(FECHA_MARCACION) = dbo.FN_TRUNCDATE(@V_FECHAMARCA)    
        
				/* VALIDO SI ES QUE LA HORA DE INICIO ESTA EN BLANCO ESO QUIERE DECIR QUE EL TRABAJADOR NO MARCO ENTRADA O QUE LA ENTRADA     
				LO MARCO COMO SALIDA, SI ESE ES EL CASO SE OBTIENE LA MENOR HORA DE LA SALIDA PARA COLOCARLO COMO ENTRADA.    
				*/    
				IF @V_HORA_INI IS NULL    
				BEGIN    
					SELECT 
						@V_HORA_INI = MIN(HORA_FIN),  
						@V_HORA_FIN = MAX(HORA_FIN)    
					FROM 
						ADRWT_MARCA_INCONSISTENCIAS    
					WHERE 
						CODIGO_UNICO = @V_CODIGOUNICO    
						AND dbo.FN_TRUNCDATE(FECHA_MARCACION) = dbo.FN_TRUNCDATE(@V_FECHAMARCA)    
				END    
        
				/* VALIDO SI LA HORA FIN ESTA EN BLANCO ESO QUIERE DECIR QUE EL TRABAJADOR NO MARCO SALIDA O QUE LA SALIDA LO MARCO    
				COMO TIPO ENTRADA, SI ESE ES EL CASO SE OBTIENE EL MAYOR  HORA DE ENTRADA PARA COLOCARLO COMO SALIDA.    
				*/    
				IF @V_HORA_FIN IS NULL    
				BEGIN    
					SELECT 
						@V_HORA_FIN = MAX(HORA_INI),  
						@V_HORA_INI = MIN(HORA_INI)  
					FROM 
						ADRWT_MARCA_INCONSISTENCIAS    
					WHERE 
						CODIGO_UNICO = @V_CODIGOUNICO    
						AND dbo.FN_TRUNCDATE(FECHA_MARCACION) = dbo.FN_TRUNCDATE(@V_FECHAMARCA)    
				END    
               
				/*OBTENGO LOS DATOS PARA PODER INGRESAR NUEVAMENTE LA MARCACION*/    
				SELECT    
					@V_COD_PERIODO = MAX(COD_PERIODO)    
					,@V_ANNO_PERIODO = MAX(ANNO_PERIODO)    
					,@V_ID_TURNO = MAX(ID_TURNO)    
				FROM 
					ADRWT_MARCA_INCONSISTENCIAS    
				WHERE 
					CODIGO_UNICO = @V_CODIGOUNICO    
					AND dbo.FN_TRUNCDATE(FECHA_MARCACION) = dbo.FN_TRUNCDATE(@V_FECHAMARCA)    
               
                
				SET @V_FECHA_MARCA = replace(convert(varchar, @V_FECHAMARCA,111), '/', '')     
				
				SET @V_FECHA_MARCA_FIN = replace(convert(varchar, @V_FECHAMARCA,111), '/', '')

				IF (Convert(Int, @V_HORA_INI) > Convert(Int, @V_HORA_FIN))
				Begin
					SET @V_FECHA_MARCA_FIN = replace(convert(varchar, DATEADD(DAY, 1, @V_FECHAMARCA),111), '/', '')
				End

				/*VALIDO EL TURNO*/  
				IF @V_ID_TURNO IS NULL  
				BEGIN  
					SELECT 
						@V_ID_TURNO = ID_TURNO   
					FROM 
						ADRWT_TURNO_MASIVO  
					WHERE 
						CODIGO_UNICO = @V_CODIGOUNICO  
						AND dbo.FN_TRUNCDATE(FECHA_TURNO) = dbo.FN_TRUNCDATE(@V_FECHAMARCA)  
				END  
          
				--ELIMINI LAS MARCACIONES ANTERIORES  
				DELETE FROM ADRWT_MARCA_INCONSISTENCIAS   
				WHERE 
					CODIGO_UNICO = @V_CODIGOUNICO    
					AND dbo.FN_TRUNCDATE(FECHA_MARCACION) = dbo.FN_TRUNCDATE(@V_FECHAMARCA)  
         
				/*INSERTO EL NUEVO REGISTRO*/   
				print 'Inserta Codigo Unico : ' + @V_CODIGOUNICO +' fecha marca : ' + convert(varchar(10),@V_FECHAMARCA,103)  
				PRINT CONVERT(VARCHAR(10),@V_FECHA_MARCA,103)+ CONVERT(VARCHAR(10),@V_FECHAMARCA,103)+ @V_CODIGOUNICO + @V_HORA_INI + @V_HORA_FIN + CONVERT(VARCHAR(10),@V_FECHA_MARCA,103) + @V_COD_PERIODO + @V_ANNO_PERIODO + @K_CODIGO_CIA + CONVERT(VARCHAR,@V_ID_TURNO)  
		
				INSERT INTO ADRWT_MARCA_INCONSISTENCIAS
				(	FECHA_MARCA_INI,		FECHA_MARCACION,		ESTADO_REG,			USR_REG,
					codigo_unico,			HORA_INI,				HORA_FIN,			FECHA_MARCA_FIN,
					FEC_REG,				TIPO_INCONSISTENCIA,	ID_ARCHIVO,			COD_PERIODO,
					ANNO_PERIODO,			SECUENCIA_MARCA,		FLAG_PRIMERO,		TIPO_MARCACION,
					codigo_cia,				id_turno,				AutoCorregido)    
				VALUES 
				(	@V_FECHA_MARCA,			@V_FECHAMARCA,			1,					NULL,
					@V_CODIGOUNICO,			@V_HORA_INI,			@V_HORA_FIN,		@V_FECHA_MARCA_FIN,
					GETDATE(),				0,						NULL,				@V_COD_PERIODO,
					@V_ANNO_PERIODO,		1,						NULL,				NULL,
					@K_CODIGO_CIA,			@V_ID_TURNO,			GetDate())         
				-- END    
          
			END  
       
			FETCH CUR_MARCA_DUPLI    
			INTO @V_CODIGOUNICO,@V_FECHAMARCA    
		
		END  
		  
		CLOSE CUR_MARCA_DUPLI        
		DEALLOCATE CUR_MARCA_DUPLI        
    
	END
	    
	-- DELETE FROM ADRWT_MARCA_INCONSISTENCIAS   
	-- WHERE ESTADO_REG=0  

END
GO
/****** Object:  StoredProcedure [dbo].[ADRWP_CARGA_TURNO_TRABAJADORES]    Script Date: 15/05/2023 19:37:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ADRWP_CARGA_TURNO_TRABAJADORES]
(
	@K_CODIGO_CIA CHAR(2)      
)
/*********************************                  
  MODIFICACION : EDUARDO CARTAGENA E    
  MOTIVO  : OPTIMIZACION    
  FECHA   : 12/03/2012                  
  *********************************/      
AS      
      
/* DECLARO VARIABLES */      
DECLARE @v_FechaInicio DATETIME      
DECLARE @v_FechaFin DATETIME      
DECLARE @V_CODIGOUNICO CHAR(9)      
DECLARE @V_FECHAMARCA DATETIME      
DECLARE @v_CONT INT      
DECLARE @v_ID_TURNO INT      
      
      
/* SETEO VALORES */      
SET @v_FechaFin = GETDATE()      
SET @v_CONT = 0      
      
BEGIN      
      
 /*OBTENGO LOS PERIODOS*/      
 SELECT @v_FechaInicio = INI_PERIODO      
 FROM dbo.ADRWFN_OBT_FECHA_INI_FIN(@K_CODIGO_CIA)      
      
  /* OBTENGO LA LISTA DE LAS MARCACIONES QUE NO TIENEN TURNO*/      
      
 UPDATE  AMI    
 SET  ID_TURNO =  (    
      SELECT TOP 1 ID_TURNO      
      FROM ADRWT_TURNO_MASIVO  ATM    
      WHERE ATM.codigo_unico = AMI.CODIGO_UNICO      
      AND dbo.FN_TRUNCDATE(ATM.FECHA_TURNO) = dbo.FN_TRUNCDATE(AMI.FECHA_MARCACION)    
      ORDER BY SEC_TURNO DESC    
      )      
 FROM ADRWT_MARCA_INCONSISTENCIAS  AMI    
 WHERE dbo.FN_TRUNCDATE(FECHA_MARCACION) BETWEEN   dbo.FN_TRUNCDATE(@v_FechaInicio)      
              AND dbo.FN_TRUNCDATE(@v_FechaFin)      
   AND AMI.HORA_INI IS NOT NULL      
   AND AMI.HORA_FIN IS NOT NULL      
   AND AMI.FECHA_MARCA_INI IS NOT NULL      
   AND AMI.FECHA_MARCA_FIN IS NOT NULL      
   AND AMI.ID_TURNO IS NULL      
   AND AMI.ESTADO_REG = 1      
   AND ISNULL((    
      SELECT TOP 1 ID_TURNO    
      FROM ADRWT_TURNO_MASIVO  ATM    
      WHERE ATM.codigo_unico = AMI.CODIGO_UNICO      
      AND dbo.FN_TRUNCDATE(ATM.FECHA_TURNO) = dbo.FN_TRUNCDATE(AMI.FECHA_MARCACION)    
      ORDER BY SEC_TURNO DESC    
    ),-1) <> -1    
   AND AMI.CODIGO_CIA = @K_CODIGO_CIA    
      
END
GO
/****** Object:  StoredProcedure [dbo].[ADRWS_GET_EMAILADMINRRHH]    Script Date: 15/05/2023 19:37:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ADRWS_GET_EMAILADMINRRHH]
@K_CODIGO_TABLA CHAR(4) = NULL
AS
  
  SET @K_CODIGO_TABLA = '0261'

  SELECT tbl_Tabla_General.codigo_tabla, 
         tbl_Tabla_General.descripcion_tabla,
         tbl_Detalle_tabla.codigo_registro, 
		 email = tbl_Detalle_tabla.descripcion_registro 
  FROM tbl_Tabla_General INNER JOIN tbl_Detalle_tabla 
       ON tbl_Tabla_General.codigo_tabla = tbl_Detalle_tabla.codigo_tabla
  WHERE tbl_Tabla_General.codigo_tabla = @K_CODIGO_TABLA
GO
/****** Object:  StoredProcedure [dbo].[ADRWSA_ALERTA_INCONSISTENCIAS]    Script Date: 15/05/2023 19:37:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ADRWSA_ALERTA_INCONSISTENCIAS]
(      
	@K_COD_CIA CHAR(2)      
)      
AS
	SET NOCOUNT ON
	    
    SELECT 
		T.MATRICULA,      
        LTRIM(RTRIM(T.NOMBRE)) + ' ' + LTRIM(RTRIM(T.APELLIDO_PATERNO)) + ' ' + LTRIM(RTRIM(T.APELLIDO_MATERNO)) as TRABAJADOR,
        CONVERT (varchar (10),MI.FECHA_MARCACION,103) as FECHA_MARCACION,      
        CASE 
			WHEN MI.TIPO_INCONSISTENCIA = 1 THEN 'SIN SALIDA'      
			WHEN MI.TIPO_INCONSISTENCIA = 2 THEN 'SIN ENTRADA'       
            WHEN MI.TIPO_INCONSISTENCIA = 8 THEN 'SIN MARCAR'      
        END AS TIPO_MARCACION,      
        T.EMAIL_TRABAJO EMAIL_TRABAJADOR,       
        UF.nombre_unidad_funcional as UNIDAD_FUNCIONAL,      
        LTRIM(RTRIM(TR.NOMBRE)) + ' ' + LTRIM(RTRIM(TR.APELLIDO_PATERNO)) + ' ' + LTRIM(RTRIM(TR.APELLIDO_MATERNO)) as SUPERVISOR,      
		TR.EMAIL_TRABAJO AS EMAIL_SUPERVISOR
    FROM ADRWT_MARCA_INCONSISTENCIAS MI 
		INNER JOIN TRABAJADOR T ON MI.CODIGO_UNICO= T.CODIGO_UNICO       
        INNER JOIN  TBL_UNIDAD_FUNCIONAL UF ON T.UNIDAD_FUNCIONAL_ORGANICA = UF.UNIDAD_FUNCIONAL AND T.COMPANIA = UF.COMPANIA      
        LEFT JOIN (
			SELECT CODIGO_UNICO,NOMBRE,APELLIDO_PATERNO,APELLIDO_MATERNO,EMAIL_TRABAJO FROM TRABAJADOR
		) TR ON TR.CODIGO_UNICO = UF.MATRICULA_RESPONSABLE
    WHERE dbo.FN_TRUNCDATE(MI.FECHA_MARCACION) = dbo.FN_TRUNCDATE(GETDATE())-1      
		AND MI.TIPO_INCONSISTENCIA IN (1,2,8)
		AND T.SITUACION_TRABAJADOR = 'A'
		AND UF.SITUACION_UNIDAD_FUNCIONAL='A'      
		AND T.COMPANIA = @K_COD_CIA   
		AND T.CODIGO_UNICO NOT IN (--Licencia  
			SELECT L.CODIGO_UNICO FROM LICENCIA L  
			WHERE L.CODIGO_UNICO = T.CODIGO_UNICO AND dbo.FN_TRUNCDATE(MI.FECHA_MARCACION) BETWEEN L.FECHA_INICIO AND FECHA_TERMINO  
		)  
		AND T.CODIGO_UNICO NOT IN (--Licencia Maternidad  
			SELECT LM.CODIGO_UNICO FROM LICENCIA_MATERNIDAD LM  
			WHERE LM.CODIGO_UNICO = T.CODIGO_UNICO AND dbo.FN_TRUNCDATE(MI.FECHA_MARCACION) BETWEEN LM.FECHA_INICIO_PRE_NATAL AND LM.FECHA_INICIO_POST_NATAL  
		)  
		AND T.CODIGO_UNICO NOT IN (--Vacaciones  
			SELECT VC.CODIGOUNICO FROM dbo.ADRWVW_ASIST_VACACIONES VC  
				INNER JOIN TRABAJADOR TRA ON VC.CODIGOUNICO = TRA.CODIGO_UNICO
			WHERE TRA.CODIGO_UNICO = T.CODIGO_UNICO AND dbo.FN_TRUNCDATE(MI.FECHA_MARCACION) BETWEEN VC.FECHAINICIO AND vc.FECHAFIN  
		)  
		AND T.CODIGO_UNICO NOT IN (--Horas Compensadas  
			SELECT ET.CODIGO_UNICO FROM ADRWT_HORAS_EXTRAS HE
				INNER JOIN ADRWT_EVENTO_TRABAJADOR ET     
					-- CSJ-2015.03.06: Cambios del codigo compuesto de la HHEE para considerar multiples turnos
					-- ON DBO.ASISFN_CCHE(HE.CODIGO_UNICO, HE.FECHA_MARCACION, HE.TIPO_HE) = ET.INDICE_HE       
					ON DBO.ASISFN_CCHE(HE.CODIGO_UNICO, HE.ANNO_PERIODO, HE.COD_PERIODO, HE.SECUENCIA_HE) = ET.INDICE_HE       
					-- CSJ-2015.03.06: Cambios del codigo compuesto de la HHEE para considerar multiples turnos
				INNER JOIN TRABAJADOR TR     
					ON HE.CODIGO_UNICO = TR.CODIGO_UNICO        
				INNER JOIN TBL_UNIDAD_FUNCIONAL U     
					ON U.unidad_funcional = TR.UNIDAD_FUNCIONAL_ORGANICA AND U.COMPANIA=TR.COMPANIA    
			WHERE HE.CODIGO_UNICO = T.CODIGO_UNICO  
				AND dbo.FN_TRUNCDATE(ET.FECHA_INI_EVENTO) = dbo.FN_TRUNCDATE(MI.FECHA_MARCACION)     
			GROUP BY ET.CODIGO_UNICO, FECHA_INI_EVENTO    
			HAVING SUM(DBO.ASISFN_TOTAL_MINUTOS(ET.HORAS_COMPENSACION)) >= 480  
 
			UNION    
        
			SELECT ET.CODIGO_UNICO FROM ADRWT_HORAS_EXTRAS HE
				INNER JOIN ADRWT_EVENTO_TRABAJADOR_TEMP ET     
					-- CSJ-2015.03.06: Cambios del codigo compuesto de la HHEE para considerar multiples turnos
					-- ON DBO.ASISFN_CCHE(HE.CODIGO_UNICO, HE.FECHA_MARCACION, HE.TIPO_HE) = ET.INDICE_HE    
					-- CSJ-2015.03.06: Cambios del codigo compuesto de la HHEE para considerar multiples turnos
					ON DBO.ASISFN_CCHE(HE.CODIGO_UNICO, HE.ANNO_PERIODO, HE.COD_PERIODO, HE.SECUENCIA_HE) = ET.INDICE_HE    
				INNER JOIN TRABAJADOR TR     
					ON HE.CODIGO_UNICO = TR.CODIGO_UNICO        
				INNER JOIN TBL_UNIDAD_FUNCIONAL U     
					ON U.unidad_funcional = TR.UNIDAD_FUNCIONAL_ORGANICA AND U.COMPANIA=TR.COMPANIA    
			WHERE HE.CODIGO_UNICO = T.CODIGO_UNICO  
				AND dbo.FN_TRUNCDATE(ET.FECHA_INI_EVENTO) = dbo.FN_TRUNCDATE(MI.FECHA_MARCACION)  
			GROUP BY ET.CODIGO_UNICO, FECHA_INI_EVENTO   
			HAVING SUM(DBO.ASISFN_TOTAL_MINUTOS(ET.HORAS_COMPENSACION))> = 480   
		)   
      
    ORDER BY 2    
GO
/****** Object:  StoredProcedure [dbo].[ADRWSD_ACT_DES_AUTORIZACION_HE]    Script Date: 15/05/2023 19:37:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ADRWSD_ACT_DES_AUTORIZACION_HE]
(
	@K_ID INT
)
AS
Begin

	UPDATE 
		ASIST_AUTORIZACIONES_HE
	SET 
		ESTADO_REG = 
					CASE 
						WHEN ESTADO_REG = 'A' THEN 'I'
						ELSE 'A' 
					END
	WHERE 
		ID_Autorizacion = @K_ID

End
GO
/****** Object:  StoredProcedure [dbo].[ADRWSD_ACT_SIT_AUTORIZACION_HE]    Script Date: 15/05/2023 19:37:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ADRWSD_ACT_SIT_AUTORIZACION_HE]
(
	@K_ID			INT,
	@K_SITUACION	INT
)
AS
Begin
	
	UPDATE 
		ASIST_AUTORIZACIONES_HE
	SET 
		--SITUACION_REG = CASE WHEN SITUACION_REG = 1 THEN 2 -- Si está pendientes, entonces lo aprueba.
		--				ELSE 1 END
		SITUACION_REG = @K_SITUACION
	WHERE 
		ID_Autorizacion = @K_ID

End
GO
/****** Object:  StoredProcedure [dbo].[ADRWSD_ELI_CONSULTA_TRAB_REP]    Script Date: 15/05/2023 19:37:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ADRWSD_ELI_CONSULTA_TRAB_REP]  
/***************************************************************  
Procedimiento : ADRWSD_ELIMINA_CONSULTA_TRAB_REP  
Propósito     : Elimina una consulta del reporteador  
Entradas      : @K_COD_COMPANIA  -- Código de la compañia  
        @K_COD_TRABAJADOR -- Código del trabajador  
        @K_COD_CONSULTA  -- Código de la consulta  
Efectos       : N/A  
Retorno       : Integer que indica el éxito ó fracaso  
Notas         : N/A  
Autor         : WDFA  
Modificado    :   
Fecha/Hora    : 03/12/2007  
'***************************************************************/  
 @K_COD_COMPANIA  CHAR(2),  
 @K_COD_TRABAJADOR CHAR(9),  
 @K_COD_CONSULTA  INT,  
 @RETVAL INT OUT  
  
AS  
  
SET NOCOUNT ON  
  
 BEGIN TRANSACTION  
  
 SET @RETVAL=0  
  
 DELETE  FROM  ADRWT_CONSULTA_X_USUARIO_REPORTEADOR  
  WHERE COMPANIA   = @K_COD_COMPANIA  
   AND CODIGO_UNICO = @K_COD_TRABAJADOR  
   AND TBLCI_ID   = @K_COD_CONSULTA  
  
IF (@@ERROR <> 0)  
 BEGIN  
  ROLLBACK TRANSACTION  
  SET @RETVAL = 0  
 END  
ELSE  
 BEGIN  
  COMMIT TRANSACTION  
  SET @RETVAL = 1  
 END  
  
SET NOCOUNT OFF  
GO